body{background-color: ghostwhite;}

#title{color: darkmagenta; font-family: Geneva}

.subtitle{font-family: Geneva; color: darkmagenta;}

.texto{font-family:  Geneva; font-size: 20px; color: darksalmon;}

.links{font-family: Geneva; color: darkmagenta; font-size: 20px;}