#title {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #82882B;
font-weight: bold;}


.textopm{ font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #F7B801;font-size: 17px;}


.subtitle{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #82882B;}

